*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}
body{
    background-color: #F3F8FF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    background-color: #F3F8FF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    border: 2px solid #49108B;
    box-shadow: 2px 2px 10px #7d30e17a;
    border-radius: 10px;
    position: relative;
}
div{
    width: 240px;
    padding-bottom: 20px;
}
h2{
    color: #49108B;
}
hr {
    border: 0;
    height: 2px;
    background: #7d30e17a;
}
.title{
    color: #49108B;
    font-size: 20px;
}
.data{
    color: #49108B;
    font-size: 20px;
    padding-left: 10px;
}
tr td:first-child{
    text-align: right;
    font-weight: bold;
}
td{
    padding: 5px 0;
}
.formInput{
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #49108B;
    margin: 8px 0 6px 0;
}
p{
    font-size: 12px;
    color: #6115b7;
}
div.checkBox{
    padding: 8px 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 240px;
}
.checkmark {
    position: relative;
    height: 14px;
    width: 14px;
    background-color: #F3F8FF;
    border-radius: 4px;
    border: 1px solid #49108B;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
input[type="checkbox"]:checked + .checkmark {
    background-color: #49108B;
}
  
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
input[type="checkbox"]:checked + .checkmark::after {
    display: block;
}
.checkmark::after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid #F3F8FF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
input[type="checkbox"] + .checkmark {
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 0;
}
input:focus{
    outline: solid #49108B;
}
label.check{
    font-size: 13px;
    padding-left: 10px;
    color: #49108B;
    cursor: pointer;
}
#submitBtn{
    color: #F3F8FF;
    grid-column: span 2;
    height: 36px;
    background-color: #49108B;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
#z{
    color: #F3F8FF;
    grid-column: span 2;
    height: 36px;
    background-color: #49108B;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
}
#submitBtn:hover{
    background-color: #9448ea;
    transition: 0.4s;
}
#z:hover{
    background-color: #9448ea;
    transition: 0.4s;
}
input[type="text"], input[type="number"], input[type="mail"] {
    padding: 5px;
}